<% provide(:title, @user.first_name) %>

<h1>
	<%= gravatar_for @user, {size: 50} %> 
	<%= @user.first_name %> <%= @user.last_name %> 
</h1>

<% if !:bio.blank? %>
	<p id="bio"> <strong> <%= @user.bio %> </strong> </p>
<% end %>

<p id="notice"><%= notice %></p>
<p></p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
