<% provide(:title, @user.first_name) %>

<h1>
	<%= gravatar_for @user, {size: 50} %> 
	<%= @user.first_name %> <%= @user.last_name %> 
</h1>

<% if !:bio.blank? %>
	<p id="bio"> <strong> <%= @user.bio %> </strong> </p>
<% end %>

<p id="notice"><%= notice %></p>

<%for i in 0..3%>
  <p></p>
<%end%>

<div class="span8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
